@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9fa;
  --foreground: #1a1a1a;
  --primary: #c0392b;
  --primary-dark: #962d22;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
